{% extends "base.html" %}
{% set active_page = "about" %}

{% block content %}
    <div class="jumbotron">
      <h1>Full Stack Software Engineer</h1>
      <p class="lead">Open Source is where I am at, Linux is my foundation, the tools of my trade are Python, Javascript, and anything else that helps get the job done and the Web is my audience.</p>

      <p>I dabble with a myriad of technologies and go back to C to find my roots. </p>

      <p>View my <a href="https://github.com/reinbach">GitHub Account</a> to see some sample work.</p>

      <br />

      <p class="text-center"><a class="btn btn-large btn-success" href="mailto:greg@reinbach.com">greg@reinbach.com</a></p>
    </div>
{% endblock content %}
